<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
      <div style="width: 600px;">
        <div>
          <p>Имя: <strong><%= user.firstName %></strong></p>
          <p>Фамилия: <strong><%= user.lastName %></strong></p>
          <p>Email: <strong><%= user.email %></strong></p>
          <p>Телефон: <strong><%= user.phone %></strong></p>
          <p>Доставка: <strong><%= delivery.delivery %></strong></p>
          <% if (delivery.delivery === 'novaposhta') { %>
          <p>Населенный пункт: <strong><%= delivery.settlement %></strong></p>
          <p>Номер отделения: <strong><%= delivery.branch %></strong></p>
          <% } else { %>
          <p>Адрес: <strong><%= delivery.address %></strong></p>
          <p>Индекс: <strong><%= delivery.idx %></strong></p>
          <% } %>
          <% if (comment) { %>
          <p>Комментрий: <i><%= comment %></i></p>
          <% } %>
        </div>
        <table
          border="1"
          align="center"
          cellpadding="0"
          cellspacing="0"
          width="600"
          style="border-collapse: collapse;"
        >
          <tr>
            <th>
              Фото
            </th>
            <th>
              Имя
            </th>
            <th>
              Количество
            </th>
            <th>
              Цена
            </th>
          </tr>
          <% details.forEach(item => { %>
          <tr>
            <td style="text-align: center;">
              <% if (item.product.images && item.product.images[0]) { %>
              <img
                width="150"
                src="https://<%= item.product.images[0].url.substr(2) %>?w=150"
                alt="<%= item.product.images[0].title %>"
              />
              <% } %>
            </td>
            <td style="text-align: center;">
              <%= item.product.languages[0].title %>
            </td>
            <td style="text-align: center;">
              <%= item.qty %>
            </td>
            <td style="text-align: center;">
              <%= item.currentPrice %>
            </td>
          </tr>
          <% }); %>
        </table>
      </div>
  </body>
</html>