<%- include('includes/head'); %>
<div style="width: 600px;">
  <div>
    <p>Имя: <strong><%= name %></strong></p>
    <p>Фамилия: <strong><%= surname %></strong></p>
    <p>Email: <strong><%= email %></strong></p>
    <p>Телефон: <strong><%= phone %></strong></p>
    <p>Доставка: <strong><%= delivery %></strong></p>
    <% if (delivery === 'novaposhta') { %>
    <p>Населенный пункт: <strong><%= npSettlement %></strong></p>
    <p>Номер отделения: <strong><%= npNumber %></strong></p>
    <% } else { %>
    <p>Адрес: <strong><%= ukrAddress %></strong></p>
    <% } %>
  </div>
  <table
    border="1"
    align="center"
    cellpadding="0"
    cellspacing="0"
    width="600"
    style="border-collapse: collapse;"
  >
    <tr>
      <th>
        Фото
      </th>
      <th>
        Имя
      </th>
      <th>
        Количество
      </th>
      <th>
        Цена
      </th>
    </tr>
    <% items.forEach(item => { %>
    <tr>
      <td style="text-align: center;">
        <% if (item.image) { %>
        <img
          width="150"
          src="https://<%= item.image.url.substr(2) %>?w=150"
          alt="<%= item.title %>"
        />
        <% } %>
      </td>
      <td style="text-align: center;">
        <%= item.title %>
      </td>
      <td style="text-align: center;">
        <%= item.count %>
      </td>
      <td style="text-align: center;">
        <%= item.price %>
      </td>
    </tr>
    <% }); %>
  </table>
</div>
<%- include('includes/footer'); %>
