<%- include('includes/head'); %>
<div>
  <p>
    <span style="font-weight: bold;">Имя:</span>
    <span style="margin-left: 10px;"><%= name %></span>
  </p>
  <p>
    <span style="font-weight: bold;">Email:</span>
    <span style="margin-left: 10px;"><%= email %></span>
  </p>
  <% if (phone) { %>
  <p>
    <span style="font-weight: bold;">Телефон:</span>
    <span style="margin-left: 10px;"><%= phone %></span>
  </p>
  <% } %>
  <p>
    <span style="font-weight: bold;">Сообщение:</span>
  </p>
  <p><%= message %></p>
</div>
<%- include('includes/footer'); %>
